@font-face {
  font-family: Remboy;
  src: url(/FONTS/Remboy.ttf);
}

@font-face {
  font-family: HKGrotesk;
  src: url(/FONTS/HKGrotesk.ttf);
}

@import "/CSS/reset.css";

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  border: 1px solid #797979;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}

.cursor2 {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ed2939;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}
body {
  background: #e1e1e1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  cursor: none;
}

.header {
  padding-bottom: 69px;
}
.container {
  width: 100%;
  padding: 14px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33px;
}

.navbar__list {
  display: flex;
  gap: 10px;
}

.search-box {
  display: flex;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: -40px;
  font-family: Remboy;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 48px;
  letter-spacing: 0.002em;
  display: flex;
  justify-content: center;
  height: 45px;
}

.title a:hover {
  color: #ed2939;
}

.search {
  float: right;
  height: 30px;
}

.search-box:hover {
  height: 30px;
  background-color: #969696;
}

.search-box:hover > .search-txt {
  width: 200px;
  padding: 0 6px;
}

.search-txt {
  margin-left: 5px;
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 16px;
  transition: 0.4s;
  width: 0px;
}

.menu {
  padding-top: 245px;
  width: 120px;
}

.menu-list {
  margin-bottom: -70px;
  margin-left: -14px;
  margin-top: 18px;
  left: -300px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  font-size: 21px;
}

.menu__link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
  width: 100%;
  height: 75px;
  justify-content: space-evenly;
  color: #f4f4f4;
}

.menu__link:hover {
  background-color: #969696;
}

.menu__burger-brn {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu__burger-brn span {
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0px;

  transition: transform 0.4s, opacity 0.25s, background-color 0.5s;
  will-change: transform;
}

.menu__burger-brn:hover span {
  background-color: #252525;
}

.menu__burger-brn span:nth-child(1) {
  background-color: #000000;
  transform: translateY(-10px);
}

.menu__burger-brn span:nth-child(2) {
  background-color: #000000;
}

.menu__burger-brn span:nth-child(3) {
  transform: translateY(10px);
  background-color: #000000;
}

.open .menu-list {
  background-color: #1a1a1a;
  transform: translateX(300px);
  visibility: visible;
  transition: transform 0.5s, visibility 0.5s;
}

/* крестик */
.navbar.open .menu__burger-brn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.navbar.open .menu__burger-brn span:nth-child(2) {
  opacity: 0;
}

.navbar.open .menu__burger-brn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.sub-menu__link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
  width: 100%;
  height: 75px;
  justify-content: space-evenly;
}

.sub-menu__link:hover {
  background-color: #4b4b4b;
}

.sub-menu__list-men {
  position: absolute;
  width: 200px;
  height: 525px;
  background-color: #8b8b8b;
  left: 134px;
  top: 0;
  display: none;
}

.menu__item-men:hover > .sub-menu__list-men {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.sub-menu__list-women {
  position: absolute;
  width: 200px;
  height: 600px;
  background-color: #797979;
  left: 134px;
  top: 75px;
  display: none;
}

.menu__item-women:hover > .sub-menu__list-women {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.sub-menu__list-kids {
  position: absolute;
  width: 200px;
  height: 525px;
  background-color: #797979;
  left: 134px;
  top: 150px;

  display: none;
}

.menu__item-kids:hover > .sub-menu__list-kids {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.sub-menu__list-auction {
  position: absolute;
  width: 200px;
  height: 75px;
  background-color: #797979;
  left: 134px;
  top: 225px;

  display: none;
}

.menu__item-auction:hover > .sub-menu__list-auction {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.basket__menu {
  position: absolute;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100%;
  background-color: #797979;
  display: none;
  flex-direction: column;
}

.open-basket .basket__menu {
  display: flex;
  transform: translateX(-400px);
  visibility: visible;
  transition: transform 0.5s, visibility 0.5s;
}

.basket__header {
  display: flex;
  gap: 10px;
  height: 40px;
  align-items: baseline;
  padding-left: 10px;
  background-color: #969696;
  margin-bottom: 20px;
}

.basket-exit button {
  width: 40px;
  height: 40px;
}

.basket__title {
  width: 60px;
  height: 40px;
}

.basket__main {
  flex: 1 1 auto;
}

/* basket__footer */

.basket__prices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  margin-bottom: 30px;
}

.basket__checkouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 50px;
}

.leave-a-comment {
  width: 300px;
  height: 50px;
  background-color: #e1e1e1;
  border: 1px solid #252525;
  color: #252525;
}

.check-out {
  width: 300px;
  height: 50px;
  background-color: #252525;
  border: 1px solid #252525;
  color: #e1e1e1;
  border-top: none;
}

.payment-methods2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.payment-methods__img {
  align-self: center;
}

.header__categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border-top: 1px solid #252525;
  color: #252525;
}

a {
  color: #252525;
}

.header__categories a:hover {
  color: #ed2939;
}

.product-collections {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border-bottom: 1px solid #252525;
  margin-bottom: 40px;
}

.product-collections_item:hover {
  color: #ed2939;
}

/* /////////////////// */

.bread-crumbs {
  display: flex;
  gap: 22px;
  margin-bottom: 37px;
  align-items: center;
  margin-left: 30px;
}

.bread-crumbs_item {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #252525;
}

.sputnik-product {
  display: grid;
  grid-template-columns: 33.3% 34.8% 31.8%;
  justify-content: center;
}

.sputnik-product__left {
  display: grid;
  align-content: center;
  justify-content: center;
}

.sputnik-product__title {
  display: grid;
  justify-items: center;
}

.sputnik-product__brand {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #252525;
  margin-bottom: 5px;
  border-bottom: 1px solid #ababab;
}

.sputnik-product__category {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #252525;
}

.sputnik-product__center {
  display: grid;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}

.sputnik-product__right {
  display: grid;
  align-content: center;
  justify-content: center;
}

.sputnik-product__title2 {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 150px;
}

.sputnik-product__about-block {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #252525;
  margin-bottom: 11px;
}

.sputnik-product__description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #252525;
  margin-bottom: 65px;
}

.sputnik-product__text button {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #252525;
  margin-bottom: 20px;
}
.sputnik-product__seller {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #252525;
  margin-bottom: 20px;
}

.footer {
  border-top: 1px solid #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 41px;
}

.product__prices {
  border-left: 1px solid #252525;
  border-right: 1px solid #252525;
}

.product__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  width: 147px;
  color: #252525;
  text-align: center;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #252525;
  width: 296px;
  text-align: center;
}

.product__btn__wishlist {
  width: 80px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #252525;
  border-right: 1px solid #252525;
}
